body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: flex-start;
}
.main, .sidebar {
  border: 3px solid black;
  /* padding: 15px; */
  /* background-color: #fff; */
}
.sidebar {
  /* TODO: change this height */
  height: 100vh;
  width: 33%;
  background-color: rgb(158, 157, 157);
  text-align: left;
}
.main {
  width: 66%;
  /* likely change this height */
  height: 150vh;
  background-color: green;
}

/* RoomList Styling */
.mainH1 {
  padding-left: 13px;
}
.room-data {
  padding: 8px 0 8px 15px;
  font-size: 1.2rem;
}

.newRoom {
  /* TODO: will have to style this more later */
  padding: 12px;
}


/* MessageList Styling */
.message-list-container {
  text-align: left;
}
.room-header {
  font-size: 1.4rem;
  padding-left: 40px;
}
#message-list {
  list-style: none;
}
#message-list li {
  padding-top: 15px;
  height: 2rem;
  width: 75%;
  background-color: gray;
}
.submit-message {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#submit-text {
  width: 60%;
  height: 2rem;
}
#submit-button {
  width: 5%;
  /* height: 2rem; */
}


/* User Styling */
.logged-in {
  padding-left: 13px;
}