body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: flex-start;
}
.main, .sidebar {
  /* border: 3px solid black; */
}
.sidebar {
  /* TODO: change this height */
  height: 100vh;
  width: 33%;
  background-color: rgb(165, 34, 34);
  text-align: left;
  color: white;
}
@media (max-width: 830px) {
  .sidebar, .message-list-container {
    font-size: .6rem;
  }
  .sidebar {
    min-width: 195px;
  }
  .sidebar section .room-data, main h3 .room-header {
    font-size: .9rem;
  }
  input[type="submit"] #submit-button {
    right: 0;
  }

}
.main {
  width: 70%;
  /* TODO: likely change this height */
  height: 150vh;
  background-color: rgb(240, 240, 240);
}

/* RoomList Styling */
.mainH1 {
  padding-left: 13px;
}
.room-list {
  padding-top: 20px;
}
.room-data {
  padding: 8px 0 8px 15px;
  font-size: 1.2rem;
}
.room-header {
  color: rgb(165, 34, 34); 
  text-transform: uppercase;
}

.newRoom {
  /* TODO: will have to style this more later */
  padding: 12px;
}


/* MessageList Styling */
.message-list-container {
  text-align: left;
}
.room-header {
  font-size: 1.4rem;
  padding-left: 40px;
}
#message-list {
  list-style: none;
  overflow: hidden;
  line-height: 30px;
}
ul {
  padding-left: 0;
}
#message-list li {
  /* padding-top: 15px; */
  /* height: 2rem; */
  line-height: 30px;
  vertical-align: middle;
  width: 100%;
  padding-left: 40px;

}
.submit-message {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#submit-text {
  width: 62%;
  height: 2rem;
  background-color: rgb(206, 204, 204);
}

input[type="submit"] {
  width: 6%;
  height: 2.45rem;
  border: none;
  border-radius: 0;
  background-color: rgb(165, 34, 34);
  color: white;

  -webkit-appearance: none;
}
.time {
  position: absolute;
  right: 10px;
  width: 75px;
}

#message-list>li:nth-child(odd) {
  background-color: rgb(214, 214, 214);
}


/* User Styling */
.logged-in {
  padding-left: 13px;
}